spring:
  application:
    name: planning-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/planning_db
      auto-index-creation: true

server:
  port: 8089

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

logging:
  level:
    com.management.planning: DEBUG
