spring:
  application:
    name: timesheet-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/timesheet_db
      auto-index-creation: true

server:
  port: 8083

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

logging:
  level:
    com.management.timesheet: DEBUG
