spring:
  application:
    name: helpdesk-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/helpdesk_db
      auto-index-creation: true

server:
  port: 8088

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

logging:
  level:
    com.management.helpdesk: DEBUG
