spring:
  application:
    name: pos-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/pos_db
      auto-index-creation: true

server:
  port: 8082

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

logging:
  level:
    com.management.pos: DEBUG
