spring:
  application:
    name: subscriptions-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/subscriptions_db
      auto-index-creation: true

server:
  port: 8085

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

logging:
  level:
    com.management.subscriptions: DEBUG
