spring:
  application:
    name: employees-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/employees_db
      auto-index-creation: true

server:
  port: 8087

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

logging:
  level:
    com.management.employees: DEBUG
