spring:
  application:
    name: sales-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/sales_db
      auto-index-creation: true

server:
  port: 8086

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

logging:
  level:
    com.management.sales: DEBUG
