spring:
  application:
    name: project-management-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/project_db
      auto-index-creation: true

server:
  port: 8084

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

logging:
  level:
    com.management.projectmgmt: DEBUG
