spring:
  application:
    name: crm-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/crm_db
      auto-index-creation: true

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

logging:
  level:
    com.management.crm: DEBUG
    org.springframework.data.mongodb: INFO
